html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.h2-title {
    font-size: 35px;
}

.title-bold {
    font-size: 13px;
    font-weight: bold;
}

.section-1 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/head.jpg');
    min-height: 951px;
}

.section-1-box {
    color: white;
    padding-left: 30px;
}

.logo {
    padding-top: 55px;
}

.section-1-title {
    font-size: 60px;
    padding: 342px 0px 12px 0px;
}

.section-1-text {
    font-size: 13px;
    line-height: 185%;
}

.iphone {
    height: auto;
    position: absolute;
    right: 16px;
    top: 261px;
    width: 716px;
}

.section-2 {
    min-height: 541px;
    padding: 106px 30px 0px 30px;
}

.section-2-title {
    padding-bottom: 20px;
}

.section-2-text {
    font-size: 14px;
    line-height: 170%;
    color: #959595;
    padding-bottom: 9px;
}

.section-2-right {
    padding-top: 164px;
}

.section-3 {
    overflow: hidden;
    color: white;
    padding-left: 45px;
}

.section-3-title {
    font-size: 30px;
}

.section-3-row {
    width: 1630px;
}

.section-3-box {
    min-height: 278px;
    max-width: 400px;
    padding: 44px 40px 40px 45px;
}

.section-3-link {
    position: absolute;
    bottom: 55px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.section-3-text {
    font-size: 13px;
    line-height: 185%;
    padding: 14px 0px;
    letter-spacing: 0.3px;
}

.pink {
    background-color: #f5989d;
}

.purple {
    background-color: #615f7d;
}

.light-purple {
    background-color: #bd8cbf;
}

.section-3-img-3 {
    background-image: url('images/image01.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.green {
    background-color: #82ca9c;
}

.section-3-img-5 {
    background-image: url('images/image02.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 800px;
}

.heart {
    position: absolute;
    bottom: 43px;
    right: 44px;
}

.section-4 {
    min-height: 526px;
    padding: 90px 64px 100px 30px;
}

.section-4-box {
    color: gray;
    padding-top: 7px;
}

.section-4-title {
    padding-bottom: 47px;
}

.section-4-text {
    font-size: 14px;
    padding-top: 14px;
    line-height: 170%;
}

.section-5 {
    background-image: url("images/fullimage.jpg");
    min-height: 873px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-5-title {
    font-size: 60px;
}

.section-5-box {
    max-width: 540px;
    color: white;
    padding: 440px 0px 0px 30px;
}

.section-5-text {
    width: 90%;
    font-size: 14px;
    line-height: 170%;
    margin: 36px 0px 14px 0px;
}

.section-5-link {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.section-6 {
    background-color: #82ca9c;
    color: white;
    padding: 118px 60px 0px 30px;
    line-height: 170%;
    min-height: 536px;
}

.section-6-title {
    padding-bottom: 54px;
}

.section-6-text {
    font-size: 14px;
    line-height: 170%;
    padding: 13px 12px 0px 0px;
}

.section-7 {
    background-color: #f6f7fa;
    padding: 103px 30px 60px 30px;
    min-height: 628px;
}

.section-7-right {
    background-color: white;
    padding: 47px 9% 56px 51px;
    box-shadow: 0px 0px 20px #e9eaed;
}

.section-7-left {
    padding: 47px 10% 56px 75px;
}

.section-7-title {
    font-size: 30px;
}

.section-7-badge {
    font-size: 11px;
    color: white;
    border-radius: 5px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.section-7-right-badge {
    background-color: #bd8cbf;
    width: 110px;
}

.section-7-left-badge {
    background-color: #ccc;
    width: 77px;
}

.section-7-text {
    color: gray;
    line-height: 170%;
    font-size: 14px;
    padding: 10px 0px 8px 0px;
    letter-spacing: 0.3px;
}

.btn-buy {
    display: block;
    height: 46px;
    width: 150px;
    background-color: #82ca9c;
    font-size: 14px;
    letter-spacing: 1.1px;
    border-radius: 3px;
    text-align: center;
    line-height: 46px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.section-7-icon {
    padding-top: 17px;
}

.section-7-icon img:nth-child(1) {
    padding-right: 15px;
}

.section-8 {
    background-color: #192431;
    min-height: 608px;
    color: white;
    padding: 128px 30px 100px 30px;
}

.section-8-left {
    padding-right: 30px;
}

.footer-title {
    padding-top: 50px;
}

.footer-link {
    color: white;
}

.section-8-text {
    font-size: 13px;
    line-height: 185%;
    padding-top: 13px;
}

.section-8-left-list {
    font-size: 13px;
    padding-top: 50px;
    padding: 12px 0px 0px 0px;
    list-style: none;
    line-height: 185%;
}

.section-8-right {
    padding-left: 96px;
}

.title-padding {
    padding-bottom: 11px;
}

.section-8-form {
    padding-right: 103px;
}

.section-8-form-input {
    border-radius: 2px 0px 0px 2px !important;
    float: left;
    height: 60px;
}

.section-8-submit-button {
    background-color: #82ca9c;
    height: 58px;
    border: none;
    width: 70px;
    border-radius: 0px 2px 2px 0px;
    margin: 1px 0px 0px -1px;
}

.section-8-submit-button:hover {
    cursor: pointer;
}

.section-8-form-note {
    color: #57697f;
    font-size: 12px;
    width: 68%;
    padding-top: 13px;
    letter-spacing: 0.3px;
}

@media only screen and (max-width: 992px) {
    .section-2-right {
        padding-top: 0px;
    }

    .section-8-right {
        padding-left: 15px;
    }

    .section-8-form {
        padding-right: 70px;
    }

    .section-7-left {
        padding: 47px 9% 56px 51px;
    }
}

@media only screen and (max-width: 544px) {
    .section-5-left {
        padding-top: 40px;
    }
}

.section-3-img-5, .section-3-img-3 {
    -webkit-transition-property: background-size;
    -o-transition-property: background-size;
    transition-property: background-size;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.section-3-img-5:hover, .section-3-img-3:hover {
    background-size: 150%;   
}

.iphone {
    -webkit-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
       -webkit-transform: scale(1);
               transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
       -webkit-transform: scale(1);
               transform: scale(1);
    }
}

.anim-slideInUp, .anim-slideInRight, .anim-rollIn, .anim-rollFade, .anim-rotateX, .anim-rotateY, .anim-zoomIn, .anim-bounceInDown {
    visibility: hidden;
}

.slideInUp, .slideInRight, .rollIn, .rollFade, .rotateX, .rotateY, .zoomIn, .bounceInDown {
    visibility: visible;
}

.slideInUp {
    animation-name: slideInUp;
    -webkit-animation-name: slideInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
                transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}
@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slideInRight {
    animation-name: slideInRight;
    -webkit-animation-name: slideInRight;
    animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
}

@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

.rollIn {
    -webkit-animation-name: rollIn;
            animation-name: rollIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate(-200%, -200%) rotate(350deg);
                transform: translate(-200%, -200%) rotate(350deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%) rotate(0deg);
                transform: translate(0%, 0%) rotate(0deg);
    }
}

@keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate(-200%, -200%) rotate(350deg);
                transform: translate(-200%, -200%) rotate(350deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0%) rotate(0deg);
                transform: translate(0%, 0%) rotate(0deg);
    }
}

.rollFade {
    -webkit-animation-name: rollFade;
            animation-name: rollFade;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes rollFade {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
}

@keyframes rollFade {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
}

.rotateY {
    -webkit-animation-name: rotateY;
            animation-name: rotateY;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes rotateY {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    }
}

@keyframes rotateY {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
    }
}

.rotateX {
    -webkit-animation-name: rotateX;
            animation-name: rotateX;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes rotateX {
    0% {
        opacity: 0;
        -webkit-transform: skew(60deg);
                transform: skew(60deg);
        margin: -200px;
    }
    100% {
        opacity: 1;
        -webkit-transform: skew(0deg);
                transform: skew(0deg);
    }
}

@keyframes rotateX {
    0% {
        opacity: 0;
        -webkit-transform: skew(60deg);
                transform: skew(60deg);
        margin: -200px;
    }
    100% {
        opacity: 1;
        -webkit-transform: skew(0deg);
                transform: skew(0deg);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}
