html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-1 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/head.jpg');
    min-height: 951px;
}

.section-1-left {
    color: white;
    padding-left: 30px;
}

.logo {
    padding-top: 55px;
}

.section-1-left h1 {
    font-size: 60px;
    padding: 342px 0px 12px 0px;
}

.section-1-left p {
    font-size: 13px;
    line-height: 185%;
}

.iphone {
    height: auto;
    position: absolute;
    right: 16px;
    top: 261px;
    width: 716px;
}

.section-2 {
    min-height: 541px;
    padding: 106px 30px 0px 30px;
}

.section-2-left h1{
    font-size: 35px;
    padding-bottom: 20px;
}

.section-2-left p, .section-2-right p {
    font-size: 14px;
    line-height: 170%;
    color: #959595;
    padding-bottom: 8px;
}

.section-2-right {
    padding-top: 164px;
}

.section-3 {
    overflow: hidden;
    color: white;
    padding-left: 45px;
}

.section-3-row {
    width: 1630px;
}

.section-3-img {
    min-height: 278px;
    max-width: 400px;
    padding: 44px 40px 40px 40px;
}

.section-3-img h2 {
    letter-spacing: -1px;
}

.section-3-img a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.section-3-img p {
    font-size: 14px;
    line-height: 170%;
    padding: 12px 0px;
}

.pink {
    background-color: #f5989d;
}

.purple {
    background-color: #615f7d;
}

.light-purple {
    background-color: #bd8cbf;
}

.section-3-img-3 {
    background-image: url('images/image01.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.green {
    background-color: #82ca9c;
}

.section-3-img-5 {
    background-image: url('images/image02.jpg');
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 800px;
}

.section-3-img-5 p {
    padding-bottom: 36px;
}

.heart {
    position: absolute;
    bottom: 43px;
    right: 44px;
}

.section-4 {
    min-height: 525px;
    padding: 90px 30px 100px 30px;
}

.section-4 h1 {
    font-size: 35px;
    padding-bottom: 46px;
}

.section-4-text {
    color: gray;
    padding-top: 7px;
}

.section-4-text h6 {
    font-size: 13px;
    font-weight: bold;
}

.section-4-text p {
    font-size: 14px;
    padding-top: 14px;
    line-height: 170%;
}

.section-5 {
    background-image: url("images/fullimage.jpg");
    min-height: 873px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-5-left {
    color: white;
    padding: 439px 70px 0px 30px;
}

.section-5-left h1 {
    line-height: 118%;
    font-size: 60px;
}

.section-5-left p {
    width: 90%;
    padding-top: 19px;
    font-size: 14px;
    line-height: 170%;
    margin-bottom: 14px;
}

.section-5-left a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section-6 {
    background-color: #82ca9c;
    color: white;
    padding: 118px 30px 80px 30px;
    line-height: 170%;
    min-height: 536px;
}

.section-6 h1 {
    font-size: 36px;
    letter-spacing: -0.6px;
}

.section-6 h6 {
    padding: 53px 0px 12px 0px;
    font-size: 14px;
    font-weight: bold;
}

.section-6 p {
    font-size: 14px;
    line-height: 170%;
}

.section-7 {
    background-color: #f6f7fa;
    padding: 103px 30px 60px 30px;
    min-height: 628px;
}

.section-7-right {
    background-color: white;
    padding: 47px 6% 56px 51px;
    -webkit-box-shadow: 0px 0px 20px #e9eaed;
    box-shadow: 0px 0px 20px #e9eaed;
}

.section-7-left {
    padding: 47px 6% 56px 51px;
}

.section-7-left h1, .section-7-right h1 {
    font-size: 32px;
    padding-top: 1px;
    letter-spacing: -1.2px;
}

.section-7-badge {
    font-size: 11px;
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
}

.section-7-right-badge {
    background-color: #bd8cbf;
    width: 110px;
}

.section-7-left-badge {
    background-color: #ccc;
    width: 77px;
}

.section-7-left p:nth-child(3),  .section-7-right p:nth-child(3) {
    color: gray;
    line-height: 170%;
    font-size: 14px;
    padding: 7px 0px 8px 0px;
}

.section-7 button {
    height: 46px;
    width: 150px;
    font-size: 14px;
    letter-spacing: 1.1px;
}

.section-7-icon {
    padding-top: 17px;
}

.section-7-icon img:nth-child(1) {
    padding-right: 15px;
}

.section-8 {
    background-color: #192431;
    min-height: 608px;
    color: white;
    padding: 124px 30px 100px 30px;
}

.section-8-left p:nth-child(1) {
    line-height: 175%;
    font-size: 13px;
}

.section-8-left p:nth-child(2) {
    font-size: 13px;
    line-height: 175%;
    padding-top: 3px;
}

.section-8-left-list {
    font-size: 13px;
    padding-top: 50px;
}

.section-8-left-list h5 {
    padding-bottom: 10px;
}

.section-8-left-list ul {
    padding: 0px;
    list-style: none;
    line-height: 185%;
}

.section-8-right p {
    font-size: 13px;
    padding: 2px 0px 8px 0px;
}

.section-8-right-button {
    background-color: #82ca9c;
    height: 58px;
    border: none;
    width: 70px;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
    margin: 1px 0px 0px -1px;
}

.section-8-right-input {
    -webkit-border-radius: 2px 0px 0px 2px !important;
    border-radius: 2px 0px 0px 2px !important;
    float: left;
    height: 60px;
}

.section-8-right-form {
    padding-right: 110px;
}

#section-8-right-text {
    color: #57697f;
    font-size: 12px;
    width: 65%;
    padding-top: 14px;
}

@media only screen and (max-width: 992px) {
    .section-2-right {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 544px) {
    .section-5-left {
        padding-top: 40px;
    }
}

.section-3-img-5, .section-3-img-3 {
    -webkit-transition-property: background-size;
    transition-property: background-size;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.section-3-img-5:hover, .section-3-img-3:hover {
    background-size: 150%;   
}

.iphone {
    -webkit-animation-name: iphone;
    animation-name: iphone;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

@-webkit-keyframes iphone {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
}

@keyframes iphone {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
}

.slideanim-1, .slideanim-2, .slideanim-3, .slideanim-7, .slideanim-8, .slideanim-9, .slideanim-10, .slideanim-11 {
    visibility: hidden;
}

.slide-1, .slide-2, .slide-3, .slide-7, .slide-8, .slide-9, .slide-10, .slide-11 {
    visibility: visible;
}

.slide-1 {
    animation-name: slide-1;
    -webkit-animation-name: slide-1;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

@keyframes slide-1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide-1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slide-2 {
    animation-name: slide-2;
    -webkit-animation-name: slide-2;
    animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
}

@-webkit-keyframes slide-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.slide-3 {
    -webkit-animation-name: slide-3;
    animation-name: slide-3;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slide-3 {
    0% {
        opacity: 0;
        -webkit-transform:translate(-200%, -200%) rotate(350deg);
        transform:translate(-200%, -200%) rotate(350deg);
    }
    100% {
        opacity: 1;
        -webkit-transform:translate(0%, 0%) rotate(0deg);
        transform:translate(0%, 0%) rotate(0deg);
    }
}

@keyframes slide-3 {
    0% {
        opacity: 0;
        -webkit-transform:translate(-200%, -200%) rotate(350deg);
        transform:translate(-200%, -200%) rotate(350deg);
    }
    100% {
        opacity: 1;
        -webkit-transform:translate(0%, 0%) rotate(0deg);
        transform:translate(0%, 0%) rotate(0deg);
    }
}

.slide-7 {
    -webkit-animation-name: slide-7;
    animation-name: slide-7;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slide-7 {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes slide-7 {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

.slide-8 {
    -webkit-animation-name: slide-8;
    animation-name: slide-8;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slide-8 {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@keyframes slide-8 {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

.slide-9 {
    -webkit-animation-name: slide-9;
    animation-name: slide-9;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slide-9 {
    0% {
        opacity: 0;
        -webkit-transform: skew(60deg);
        transform: skew(60deg);
        margin: -200px;
    }
    100% {
        opacity: 1;
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
    }
}

@keyframes slide-9 {
    0% {
        opacity: 0;
        -webkit-transform: skew(60deg);
        transform: skew(60deg);
        margin: -200px;
    }
    100% {
        opacity: 1;
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
    }
}

.slide-10 {
    -webkit-animation-name: slide-10;
    animation-name: slide-10;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slide-10 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes slide-10 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.slide-11 {
    -webkit-animation-name: slide-11;
    animation-name: slide-11;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@-webkit-keyframes slide-11 {  
    0% {-webkit-transform: translateY(170%);transform: translateY(170%);}     
    70% {-webkit-transform: translateY(0%);transform: translateY(0%);} 
    80% {-webkit-transform: translateY(-5%);transform: translateY(-5%);} 
    90% {-webkit-transform: translateY(3%);transform: translateY(3%);}
    100% {-webkit-transform: translateY(0%);transform: translateY(0%);} 
}

@keyframes slide-11 {  
    0% {-webkit-transform: translateY(170%);transform: translateY(170%);}     
    70% {-webkit-transform: translateY(0%);transform: translateY(0%);} 
    80% {-webkit-transform: translateY(-5%);transform: translateY(-5%);} 
    90% {-webkit-transform: translateY(3%);transform: translateY(3%);}
    100% {-webkit-transform: translateY(0%);transform: translateY(0%);} 
}
