html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-1 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/head.jpg');
    min-height: 951px;
}

.section-1-left {
    color: white;
    padding-left: 30px;
}

.logo {
    padding-top: 55px;
}

.section-1-left h1 {
    font-size: 60px;
    padding: 342px 0px 12px 0px;
}

.section-1-left p {
    font-size: 13px;
    line-height: 185%;
}

.iphone {
    height: auto;
    position: absolute;
    right: 16px;
    top: 261px;
    width: 716px;
}

.section-2 {
    min-height: 541px;
    padding: 106px 30px 0px 30px;
}

.section-2-left h1{
    font-size: 35px;
    padding-bottom: 20px;
}

.section-2-left p, .section-2-right p {
    font-size: 14px;
    line-height: 170%;
    color: #959595;
    padding-bottom: 8px;
}

.section-2-right {
    padding-top: 164px;
}

.section-3 {
    overflow: hidden;
    color: white;
    padding-left: 45px;
}

.section-3-row {
    width: 1630px;
}

.section-3-img {
    min-height: 278px;
    max-width: 400px;
    padding: 44px 40px 40px 40px;
}

.section-3-img h2 {
    letter-spacing: -1px;
}

.section-3-img a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.section-3-img p {
    font-size: 14px;
    line-height: 170%;
    padding: 12px 0px;
}

.pink {
    background-color: #f5989d;
}

.purple {
    background-color: #615f7d;
}

.light-purple {
    background-color: #bd8cbf;
}

.section-3-img-3 {
    background-image: url('images/image01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.green {
    background-color: #82ca9c;
}

.section-3-img-5 {
    background-image: url('images/image02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 800px;
}

.section-3-img-5 p {
    padding-bottom: 36px;
}

.heart {
    position: absolute;
    bottom: 43px;
    right: 44px;
}

.section-4 {
    min-height: 525px;
    padding: 90px 30px 100px 30px;
}

.section-4 h1 {
    font-size: 35px;
    padding-bottom: 46px;
}

.section-4-text {
    color: gray;
    padding-top: 7px;
}

.section-4-text h6 {
    font-size: 13px;
    font-weight: bold;
}

.section-4-text p {
    font-size: 14px;
    padding-top: 14px;
    line-height: 170%;
}

.section-5 {
    background-image: url("images/fullimage.jpg");
    min-height: 873px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-5-left {
    color: white;
    padding: 439px 70px 0px 30px;
}

.section-5-left h1 {
    line-height: 118%;
    font-size: 60px;
}

.section-5-left p {
    width: 90%;
    padding-top: 19px;
    font-size: 14px;
    line-height: 170%;
    margin-bottom: 14px;
}

.section-5-left a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section-6 {
    background-color: #82ca9c;
    color: white;
    padding: 118px 30px 80px 30px;
    line-height: 170%;
    min-height: 536px;
}

.section-6 h1 {
    font-size: 36px;
    letter-spacing: -0.6px;
}

.section-6 h6 {
    padding: 53px 0px 12px 0px;
    font-size: 14px;
    font-weight: bold;
}

.section-6 p {
    font-size: 14px;
    line-height: 170%;
}

.section-7 {
    background-color: #f6f7fa;
    padding: 103px 30px 60px 30px;
    min-height: 628px;
}

.section-7-right {
    background-color: white;
    padding: 47px 6% 56px 51px;
    box-shadow: 0px 0px 20px #e9eaed;
}

.section-7-left {
    padding: 47px 6% 56px 51px;
}

.section-7-left h1, .section-7-right h1 {
    font-size: 32px;
    padding-top: 1px;
    letter-spacing: -1.2px;
}

.section-7-badge {
    font-size: 11px;
    color: white;
    border-radius: 5px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
}

.section-7-right-badge {
    background-color: #bd8cbf;
    width: 110px;
}

.section-7-left-badge {
    background-color: #ccc;
    width: 77px;
}

.section-7-left p:nth-child(3),  .section-7-right p:nth-child(3) {
    color: gray;
    line-height: 170%;
    font-size: 14px;
    padding: 7px 0px 8px 0px;
}

.section-7 button {
    height: 46px;
    width: 150px;
    font-size: 14px;
    letter-spacing: 1.1px;
}

.section-7-icon {
    padding-top: 17px;
}

.section-7-icon img:nth-child(1) {
    padding-right: 15px;
}

.section-8 {
    background-color: #192431;
    min-height: 608px;
    color: white;
    padding: 124px 30px 100px 30px;
}

.section-8-left p:nth-child(1) {
    line-height: 175%;
    font-size: 13px;
}

.section-8-left p:nth-child(2) {
    font-size: 13px;
    line-height: 175%;
    padding-top: 3px;
}

.section-8-left-list {
    font-size: 13px;
    padding-top: 50px;
}

.section-8-left-list h5 {
    padding-bottom: 10px;
}

.section-8-left-list ul {
    padding: 0px;
    list-style: none;
    line-height: 185%;
}

.section-8-right p {
    font-size: 13px;
    padding: 2px 0px 8px 0px;
}

.section-8-right-button {
    background-color: #82ca9c;
    height: 58px;
    border: none;
    width: 70px;
    border-radius: 0px 2px 2px 0px;
    margin: 1px 0px 0px -1px;
}

.section-8-right-input {
    border-radius: 2px 0px 0px 2px !important;
    float: left;
    height: 60px;
}

.section-8-right-form {
    padding-right: 110px;
}

#section-8-right-text {
    color: #57697f;
    font-size: 12px;
    width: 65%;
    padding-top: 14px;
}

@media only screen and (max-width: 992px) {
    .section-2-right {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 544px) {
    .section-5-left {
        padding-top: 40px;
    }
}
